﻿@model QuanLyThietBiMVC.Models.CategoryTool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryToolId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryToolId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryToolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryToolName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryToolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>