﻿@model QuanLyThietBiMVC.Models.CategoryTool

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category Tool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryToolId" />
            <div class="form-group">
                <label asp-for="CategoryToolId" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.CategoryToolId)</div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryToolName" class="control-label"></label>
                <input asp-for="CategoryToolName" class="form-control" />
                <span asp-validation-for="CategoryToolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>