﻿@model IEnumerable<QuanLyThietBiMVC.Models.CategoryTool>

@{
    ViewData["Title"] = "Tool";
}

<h2>Danh sách thiết bị</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryToolName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryToolName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryToolId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryToolId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryToolId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>