﻿@model QuanLyThietBiMVC.Models.UserTakeTool
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Đăng ký mượn thiết bị</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId">
                    <option value="">-- Select User --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Tool" class="control-label"></label>
                <select asp-for="ToolId" class="form-control" asp-items="ViewBag.ToolId">
                    <option value="">-- Select Tool --</option>
                </select>
                <span asp-validation-for="ToolId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="NumberToolTake" class="control-label"></label>
                <input asp-for="NumberToolTake" class="form-control" />
                <span asp-validation-for="NumberToolTake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnOrNot" class="control-label"></label>
                <input asp-for="ReturnOrNot" class="form-control" />
                <span asp-validation-for="ReturnOrNot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeBorrow" class="control-label"></label>
                <input asp-for="TimeBorrow" class="form-control" />
                <span asp-validation-for="TimeBorrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeReturn" class="control-label"></label>
                <input asp-for="TimeReturn" class="form-control" />
                <span asp-validation-for="TimeReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
