﻿@model QuanLyThietBiMVC.Models.UserTakeTool

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User Take Tool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTakeToolId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tool.ToolName)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberToolTake)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnOrNot)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeBorrow)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeReturn)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserTakeToolId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>