﻿@model IEnumerable<QuanLyThietBiMVC.Models.UserTakeTool>

@{
    ViewData["Title"] = "UserTakeTool";
}

<h2>Danh sách đăng ký thiết bị</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a href="@Url.Action("ExportToExcel")">Export Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTakeToolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tool.ToolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberToolTake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnOrNot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeBorrow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeReturn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserTakeToolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tool.ToolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberToolTake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnOrNot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBorrow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeReturn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserTakeToolId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserTakeToolId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserTakeToolId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

