﻿@model QuanLyThietBiMVC.Models.Tool
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToolId" class="control-label"></label>
                <input asp-for="ToolId" class="form-control" />
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolName" class="control-label"></label>
                <input asp-for="ToolName" class="form-control" />
                <span asp-validation-for="ToolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitMeasure" class="control-label"></label>
                <input asp-for="UnitMeasure" class="form-control" />
                <span asp-validation-for="UnitMeasure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalNumberOfTool" class="control-label"></label>
                <input asp-for="TotalNumberOfTool" class="form-control" />
                <span asp-validation-for="TotalNumberOfTool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfLendTool" class="control-label"></label>
                <input asp-for="NumberOfLendTool" class="form-control" />
                <span asp-validation-for="NumberOfLendTool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRestTool" class="control-label"></label>
                <input asp-for="NumberOfRestTool" class="form-control" />
                <span asp-validation-for="NumberOfRestTool" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryTool" class="control-label"></label>
                <select asp-for="CategoryToolId" class="form-control" asp-items="ViewBag.CategoryToolId">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryToolId" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
