﻿@model QuanLyThietBiMVC.Models.Tool

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToolId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToolName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitMeasure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitMeasure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfLendTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfLendTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRestTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRestTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTool.CategoryToolId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ToolId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
