﻿@model QuanLyThietBiMVC.Models.Tool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToolId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToolName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitMeasure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitMeasure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfLendTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfLendTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRestTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRestTool)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryTool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryTool.CategoryToolId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ToolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>