﻿@model IEnumerable<QuanLyThietBiMVC.Models.Tool>

@{
    ViewData["Title"] = "Tool";
}

<h2>Danh sách thiết bị</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberOfTool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfLendTool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRestTool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTool)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumberOfTool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLendTool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRestTool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTool.CategoryToolName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToolId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToolId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToolId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>