﻿@model IEnumerable<QuanLyThietBiMVC.Models.BorrowDetail>

@{
    ViewData["Title"] = "BorrowDetail";
}

<h2>Index Calendar</h2>
<div id="calendar">

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span id="eventTitle"></span></h4>
            <div class="modal-body" style="background-color:aqua">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right" style="background-color: red">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right: 5px; background-color: yellowgreen">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>

<div id="myModalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span id="eventTitle"></span></h4>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventId" value="0" />
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"> </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked"> Is Full Day Event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"> </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Desciption</label>
                        <textarea id="txtDesciption" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label> Theme Color </label>
                        <select id="ddThemeColor" class="form-control">
                            <option value=""> Default</option>
                            <option value="red"> Red</option>
                            <option value="green"> Green</option>
                            <option value="yellow"> Yellow</option>
                            <option value="blue"> Blue</option>
                            <option value="orange"> Orange</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label> TimeLine Id </label>
                        <select id="ddTimeline" class="form-control">
                            <option value="4"> 4</option>
                            <option value="5"> 5</option>
                            <option value="6"> 6</option>
                            <option value="7"> 7</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label> User Id </label>
                        <select id="ddUser" class="form-control">
                            <option value="1"> 1</option>
                            <option value="2"> 2</option>
                            <option value="3"> 3</option>
                            <option value="4"> 4</option>
                            <option value="5"> 5</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success"> Save </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
            </div>
        </div>
        
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.min.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


@section Scripts{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar(); 
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "event/findall",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                description: v.description,
                                start: v.startDate,
                                end: v.endDate,
                                color: v.color,
                                allDay: v.IsFullDay,
                                id: v.id
                            });
                        })

                        GenerateCalendar(events);

                    },
                    error: function (error) {
                        alert(' can not load calendar');
                    }
                })
            }
            

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModel #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    //selectable: true,
                    //select: function (start, end) {
                    //    selectedEvent = {
                    //        id: 0,
                    //        description = '',
                    //        start: start,
                    //        end: end,
                    //        allDay: false,
                    //        color: '',
                    //        timelineId: '',
                    //        userId: ''
                    //    };
                    //    openAddEditModal();
                    //    $('#calendar').fullCalendar('unselect');
                    //}
                    //editable: true,
                    //eventDrop: function (event) {
                    //    var data = {
                    //        BorrowDetailId: event.id,
                    //        Description = event.description,
                    //        TimeBegin = event.startDate.format('DD/MM/YYYY HH:mm A'),
                    //        TimeEnd = event.endDate != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                    //        ThemeColor = event.color,
                    //        IsFullDay = event.allday,
                    //        UserId = event.userId,
                    //        TimelineId = event.timelineId
                    //    };
                    //    AddEvent(data);
                    //}
                })
            }
            $('#btnEdit').click(function () {
                openAddEditModal();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: 'event/delete',
                        data: { 'id': selectedEvent.id}, 
                        success: function (data) {
                            if (data) {
                                //refresh the calendar
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });
            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            })
            function openAddEditModal() {
                if (selectedEvent != null) {
                    $('#hdEventId').val(selectedEvent.id);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM?YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allday || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                    $('#txtDesciption').val(selectedEvent.description)
                    $('#ddThemeColor').val(selectedEvent.color);
                    $('#ddTimeline').val(selectedEvent.timelineId);
                    $('#ddUser').val(selectedEvent.userId);
                }
                $('#myModal').modal('hide');
                $('#myModalAdd').modal('show');
            }

            $('btnSave').click(function () {
                //if ($('#txtStart').val().trim() == "") {
                //    alert('Start date required');
                //    return;
                //}
                //if ($('#chkIsFullDay').is(': checked') == false && $('#txtEnd').val().trim() == "") {
                //    alert('End date required');
                //    return;
                //}
                //else {
                //    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                //    var endDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                //    if (startDate > endDate) {
                //        alert('Invalid end date');
                //        return;
                //    }
                //}

                var data = {
                    id: $('#hdEventId').val,
                    start: $('#txtStart').val.trim(),
                    end: $('#chkIsFullDay').is(':check') ? null : $('txtEnd').val().trim(),
                    timelineId: $('ddTimeline').val(),
                    userId: $('#ddUser').val(),
                    color: $('#ddThemeColor').val(),
                    description: $('#txtDescription').val(),              
                }
                AddEvent(data)
                // goi function de submit data den server
            })
            function AddEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/event/add',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //refresh the calendar
                            FetchEventAndRenderCalendar();
                            $('#myModalAdd').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })
    </script>
}
